@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap');

body,
html {
  font-family: 'Roboto', sans-serif;
}

.image-upload-card  {
  min-height:200px;
}
.image-upload-card .card-img-overlay input[type="file"] {
  opacity:0;
  position: absolute;
  left:0;
  right:0;
  top:0;
  width:100%;
  height:100%;
  z-index: 2;
}


.image-upload-card .card-img-overlay:before {
  content:"";
  background:#000;
  opacity:0.4;
  position: absolute;
  left:0;
  right:0;
  top:0;
  width:100%;
  height:100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cardHighlight {
  height:100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@media (min-width:992px) {
  .right-side-nav-controllers {
    position: absolute;
    right:20px;
  }
}

@media (max-width:991px) {
  #dashBoardSideBar {
    min-height: auto!important;
  }
}
